// app global css in SCSS form

.hr {
  border-bottom: 2px solid lightgrey;
}

@media print {
  .q-page-container {
    padding-left: 0 !important;
  }

  header,
  footer {
    display: none;
  }
  body {
    overflow: auto;
    height: auto;
  }
  .scroll-y {
    height: auto;
    overflow: visible;
  }
  aside {
    display: none !important;
  }
  .q-btn {
    display: none;
  }
  .q-page-container {
    padding: 0 !important;
    margin: 0 !important;
  }
  
  .search-bar {
    display: none !important;
  }
  
  td,
  th {
    padding: 5px;
    margin: 0;
    font-size: 12px !important;
    height: inherit !important;
  }
  .q-card {
    box-shadow: none;
  }

}
