:80 {
  encode zstd gzip
  root * /srv
  file_server

  handle /api/* {
    reverse_proxy backend:8000
  }

  handle /static/* {
    reverse_proxy backend:8000
  }

  handle {
    try_files {path} /index.html
  }

  header {
    X-Content-Type-Options "nosniff"
    Referrer-Policy "no-referrer-when-downgrade"
    Permissions-Policy "interest-cohort=()"
  }
}