<table border="1" width="100%">
    <thead>
    <tr>
        <th align="left" width="10%">SN</th>
        <th align="left" width="40%">Description</th>
        <th align="left" width="10%">Qty</th>
        <th align="left" width="10%">Rate</th>
        <th align="left" width="20%">Amount</th>
    </tr>
    </thead>
    <tbody>
    <tr style="text-align: right">
        <td align="right" width="10%">1</td>
        <td width="40%">32GB Thuprai.com, your source for books in Nepal. We're dedicated
to giving you the very best of products, with a focus on reliability,
fast delivery, and transparency.</td>
        <td align="right" width="10%">1</td>
        <td align="right" width="10%">2</td>
        <td align="right" width="20%">2</td>
    </tr>
    </tbody>
</table>
